*.pyc*
*.so
*.pyd
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
build
__pycache__

secret_learn.egg-info

dist/
MANIFEST

*.pdf
pip-log.txt
scikit_learn.egg-info/
.coverage
coverage
*.py,cover
.tags*
coverages
samples
doc/coverages
doc/samples
*.prof
.tox/
.coverage
pip-wheel-metadata

lfw_preprocessed/
nips2010_pdf/

*.nt.bz2
*.tar.gz
*.tgz
benchmarks/bench_covertype_data/
benchmarks/HIGGS.csv.gz
bench_pca_solvers.csv

*.prefs
.pydevproject
.idea
.vscode
# used by pyenv
.python-version

*.c
*.cpp

!/**/src/**/*.c
!/**/src/**/*.cpp
*.sln
*.pyproj

# Used by py.test
.cache
.pytest_cache/
_configtest.o.d

# file recognised by vscode IDEs containing env variables
.env
*.log